@import "../../../scss/color";
.app__sitemap {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 200px;
    color: $orange;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}