@import '../../../scss/color';

.app__layout-service {
  flex: 1;
  width: 100%;
  height: inherit !important;
  background-color: $gray;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  &__content {
    height: inherit !important;
    width: 100%;
    box-sizing: border-box;
    margin-top: 90px;
    padding: 0 30px;
  }
}
