@import "../../../../scss/color";

.dashboard__stats {
  width: 400px;
  height: 100%;
  background-color: $background;
  box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
  border-radius: 8px 0px 0px 8px;
  padding-top: 100px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: auto;

  &__label {
    width: inherit;
    text-align: left;
    height: 36px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: $orange;
    padding: 0 24px;
  }

  &__summary {
    width: inherit;
    padding: 0 24px;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__calendar {
    margin-top: 12px;
    width: inherit;
    height: fit-content;
    box-sizing: border-box;
    padding: 0 24px;
  }
}
