@import '../../../../scss/color';
@import '../../../../scss/calendar';

.dashboard__stats {
  width: 400px;
  height: 100%;
  background-color: $background;
  box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
  border-radius: 8px 0px 0px 8px;
  padding-top: 90px;
  box-sizing: border-box;
  margin-left: auto;

  &__container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }

    .label {
      width: inherit;
      text-align: left;
      height: 36px;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      color: $orange;
      padding: 0 24px;
    }

    .summary {
      width: inherit;
      padding: 0 24px;
      height: fit-content;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .calendar {
      margin-top: 12px;
      width: inherit;
      height: fit-content;
      box-sizing: border-box;
      padding: 0 24px;
      margin-bottom: 30px;
    }
  }
}
