@import "../../../../scss/color";

.app__summary-card {
  height: 83px;
  width: 353px;
  border-radius: 12px;
  background-color: $background;
  box-shadow: $shadow;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;

  .rounded-graph {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .hight-light-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 12px;
    &__number {
      font-size: 24px;
      line-height: 36px;
      font-weight: 800;
      color: $text;
    }
    &__type {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 3px;
      .type-name {
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        color: $orange;
      }
      .type-image {
      }
    }
  }
  .status {
    margin-left: auto;
    height: inherit;
    width: 100%;
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
    gap: 5px;

    &__item {
      display: flex;
      align-items: center;
      gap: 5px;
      span {
        color: inherit;
        &:first-child {
          height: 4px;
          width: 4px;
          background-color: $orange;
          border-radius: 50%;
        }

        &:nth-child(2) {
          font-size: 12px;
          font-weight: 400;
          line-height: 21px;
          color: rgba($color: $text, $alpha: 0.7);
        }
        &:last-child {
          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          color: $orange;
          margin-left: auto;
        }
      }
    }

    &__active {
    }
  }
}
