@import '../../../scss/color';

.app__layout-device {
  flex: 1;
  height: inherit;
  min-height: 100vh;
  background-color: $gray;
  position: relative;
  // overflow-y: scroll;;

  .content {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-top: 90px;
    padding: 0 30px 30px 30px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
