@import "../../scss/color";

.app__text-box {
  width: 100%;
  height: fit-content;
  &__label {
    color: $text;
    font-size: 18px;
    line-height: 27px;
  }

  &__input {
    width: inherit;
    height: 44px;
    position: relative;
    
    margin-top: 8px;

    input {
      width: inherit;
      font-size: 18px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 10px;
      border: solid 1px $text-box-border;
      

    

      &:focus {
        outline: rgba($color: blue, $alpha: 0.3);
        border: 1px solid rgba($color: blue, $alpha: 0.3);
      }
    }

    .eye-icon {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }
  }
}
