@import "../../../scss/color";


.forgot-password-form {
    height: inherit;
    width: 100%;
    max-width: 720px;
    background-color: $gray;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-top {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -30px;
    }

    &-middle {
        height: fit-content;
        width: 100%;
        box-sizing: border-box;
        padding: 0 100px;
        display: flex;
        flex-direction: column;
        gap: 20px;

       .label {
           font-size: 28px;
           font-weight: 500;
           display: flex;
           align-items: center;
           justify-content: center;
       }
    }

    &-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        margin-top: 20px;

    }

    

}