@import '../../../../scss/color';

.service-list {
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
  padding-right: 60px;
  padding-bottom: 60px;

  // overflow-x: hidden;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .label {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: $orange;
  }

  .filters {
    gap: 20px;
  }
  .table {
    height: fit-content;
  }
}

.add-service-btn {
  position: fixed;
  height: 94px;
  width: 80px;
  right: 0;
  top: 244px;
  background-color: rgba($color: $orange, $alpha: 0.2);
  border-radius: 7.5px 0 0 7.5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    background-color: rgba($color: $orange, $alpha: 0.7);
    span {
      color: $background;
    }
  }

  span {
    width: inherit;
    height: fit-content;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: $orange;
  }
}
