@import '../../../scss/color';

.app__layout-report {
  height: 100%;
  width: 100%;
  background-color: $gray;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;

  .app__layout-report__content {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-top: 90px;
    padding: 0 30px 30px 30px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
