@import '../../../../scss/color';
.app__layout-system__new-role {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 120px;

  &::-webkit-scrollbar {
    display: none;
  }

  &__title {
    height: 36px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: $orange;
    padding-top: 25px;
  }

  &__container {
    height: 550px;
    width: 100%;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: $background;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    .form-label {
      height: 30px;
      width: 165px;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      color: #ff9138;
    }

    .full {
      height: 100% !important;
    }

    .row {
      height: fit-content;
      padding: 8px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;

      .flex-1 {
        flex: 1;
      }
      .col {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        font-family: Nunito;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    .box {
      height: fit-content;
      width: 100%;
      background-color: red;
      padding: 16px 24px;
      box-sizing: border-box;
      background-color: rgba($color: $orange, $alpha: 0.2);
      border-radius: 8px;

      .permission-group {
        //styleName: 20/20 Bold;
        font-family: Nunito;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: $orange;
      }
      .role {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        margin-bottom: 8px;
        input {
          height: 20px;
          width: 20px;
          border-radius: 4px;
          box-sizing: border-box;
          border: solid 1px $blue !important;
        }
      }
    }
  }

  &__btn__bottom {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
}
