@import '../../../../scss/color';
.app__device-layout__detail-device {
  height: 100%;
  width: 100%;
  padding-right: 60px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 120px;

  &::-webkit-scrollbar {
    display: none;
  }

  &__title {
    height: 36px;
    width: 172px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: $orange;
    padding-top: 25px;
  }

  &__container {
    height: 550px;
    width: 100%;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: $background;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    .form-label {
      height: 30px;
      width: 165px;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      color: #ff9138;
    }
    .row {
      height: fit-content;
      padding: 8px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;

      .flex-1 {
        flex: 1;
      }
    }
  }

  &__float-btn {
    position: fixed;
    height: 94px;
    width: 80px;
    right: 0;
    top: 167px;
    background-color: rgba($color: $orange, $alpha: 0.2);
    border-radius: 7.5px 0 0 7.5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: $orange, $alpha: 0.7);
      span {
        color: $background;
      }
    }

    span {
      width: inherit;
      height: fit-content;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      font-family: Nunito;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
      color: $orange;
    }
  }
}
