.detail-device {
  height: 100%;
  width: 100%;
}

.title {
  height: 36px;
  width: 169px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.container {
  .container__info-device {
    height: 30px;
    width: 165px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #ff9138;
    padding-top: 16px;
    margin-left: 24px;
  }
  .detail__col {
    display: flex;
    flex-direction: row;
    .detail__col__left {
      height: 24px;
      width: 500px;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      margin-left: 24px;
      .mathietbi {
        margin-top: 7px;
      }
      .tenthietbi {
        margin-top: 16px;
      }
      .diachiIp {
        margin-top: 16px;
      }
    }
    .detail__col__right {
      height: 24px;
      width: 500px;
      border-radius: nullpx;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      .loaithietbi {
        margin-top: 7px;
      }
      .tendangnhap {
        margin-top: 16px;
      }
      .matkhau {
        margin-top: 16px;
      }
    }
  }
  .dichvusudung {
    margin-left: 24px;
    margin-top: 105px;
    height: 24px;
    width: 100%;
    border-radius: nullpx;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}
