@import '../../../../scss/color';
.app__layout-queue__new-queue {
  height: 1000px;
  width: 100%;

  &__container {
    height: fit-content;
    min-height: 550px;
    width: 100%;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: $background;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;

    .row {
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-family: Nunito;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
    }
    .heading {
      font-family: Nunito;
      font-size: 32px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: left;
      color: $orange;
    }
    .buttons {
      margin-top: 80px;
      justify-content: space-between;
    }
  }
}

.app__layout-queue__new-queue__title {
  height: 36px;
  width: 172px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: $orange;
  padding-top: 25px;
}

.new-queue-number {
  height: 385px;
  width: 470px;
  border-radius: 24px;
  background-color: $background;
  box-shadow: $shadow;
  transition: 700ms ease-in-out;
}

.number-top {
  background-color: $background;
  width: 469px;
  border-radius: 24px 24px 0 0;
  &__icon {
    display: flex;
    justify-content: right;
    padding: 16px 16px 0 0;
    cursor: pointer;
  }
  &__header {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    display: flex;
    justify-content: center;
    color: #535261;
    margin-top: 14px;
  }
  &__content {
    color: #ff7506;
    display: flex;
    justify-content: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    padding-top: 24px;
  }
  &__service {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 24px 0 44px 0;
    color: #282739;
  }
}
.number-bottom {
  background-color: #ff9138;
  width: 469px;
  border-radius: 0 0 24px 24px;
  &__date {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    color: $background;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
  }
  &__expiry-date {
    display: flex;
    justify-content: center;
    padding: 12px 0 16px 0;
    color: $background;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
  }
}
