@import '../../scss/color';

.images {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 150px;
  position: relative;

  .heading {
    position: absolute;
    right: 50px;
    &-small {
      font-size: 40px;
      line-height: 51px;
      font-weight: 400;
      color: $orange;
    }
    &-large {
      text-transform: uppercase;
      font-size: 42px;
      line-height: 54px;
      font-weight: 900;
      color: $oranged;
      letter-spacing: 3.5px;
    }
  }
}
